.main_app {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

p {
  min-width: 80%;
}

h3 {
  margin-top: 2em;
}

.app__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
