.main__app,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 100vh;
  text-align: center;
}

p {
  min-width: 80%;
}

h3 {
  margin-top: 2em;
}

.app__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .main__app {
    width: 60%;
  }
}
