.main__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__home div {
  width: 80%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 861px) {
  .main__home {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main__home div {
    width: 50%;
  }
}
p {
  text-align: center;
}
