.main__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__home h1 {
  margin-top: 0;
}

.main__home div {
  width: 80%;
}

p {
  text-align: center;
}

.claim {
  font-style: italic;
  font-size: medium;
  margin: 0 0 25px 0;
  text-align: center;
}

.main__home a {
  border: solid 2px #003f08;
  border-radius: 15px;
  padding: 0.8em;
  background-color: #24802f;
  color: #ddfde1;
  text-decoration: none;
  font-weight: bold;
}

.main__home a:hover {
  background-color: #419c4c;
}

.main__home span {
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .main__home {
    width: 60%;
  }
}
