.main__home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__home div {
  width: 80%;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
}

.claim {
  font-family: 'Merienda', cursive;
  font-size: medium;
  margin: 0 0 1em 0;
}

.right p {
  width: 75%;
}

.left a {
  border: solid 2px #003f08;
  border-radius: 15px;
  padding: 0.8em;
  background-color: #24802f;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.left a:hover {
  background-color: #419c4c;
}

@media screen and (min-width: 861px) {
  .main__home {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main__home div {
    width: 50%;
  }

  .right p {
    width: 90%;
  }
}
