.blog__clanek {
  flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.blog__clanek a {
  text-decoration: none;
}

.blog__clanek img {
  height: 10em;
}
