.detail__title {
  font-family: 'Roboto', sans-serif;
}

.detail__article {
  width: 80%;
}

.detail__perex,
.detail__content {
  text-align: justify;
  margin-bottom: 2em;
}

.detail__perex {
  font-weight: bold;
}

p {
  text-align: justify;
}

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
