@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #24802f;
  padding: 15px;
}

.logo {
  display: flex;
}

.logo__img {
  width: 25%;
  display: flex;
}

.nav__links {
  justify-content: flex-end;
}

.nav__home {
  flex-shrink: 0;
}

.nav__home,
.nav__about,
.nav__app,
.nav__blog,
.h1__hidden {
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.h1__hidden {
  align-self: flex-end;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  bottom: 0;
  min-width: 100vw;
}

.icons__social a {
  margin: 5px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 861px) {
  .nav__links {
    display: flex;
    flex-direction: column;
  }
}
