@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 100%;
}

.nav__logo {
  display: flex;
}

.nav__logo a {
  width: 15%;
}

.nav__home,
.nav__about,
.nav__app,
.nav__blog {
  margin: 10px;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons__social a {
  margin: 5px;
}

footer {
  position: absolute;
  bottom: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
