* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
}

h1,
h2 {
  font-family: 'Merienda', cursive;
  text-align: center;
}

body {
  display: flex;
  flex-wrap: nowrap;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #24802f;
  border-bottom: solid 2px #003f08;
  padding: 15px;
  height: 10em;
}
main {
  min-height: calc(100vh - 15em - 25px);
  flex-grow: 1;
  padding: 10px;
}
.logo {
  display: flex;
}

.logo__img {
  width: 8em;
  display: flex;
  padding: 0.3em;
}

.nav__links {
  justify-content: flex-end;
  font-weight: bold;
  font-size: larger;
}

.nav__home {
  flex-shrink: 0;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: baseline;
}

.nav__about,
.nav__app,
.nav__blog {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.nav__about:hover,
.nav__app:hover,
.nav__blog:hover {
  background-color: #419c4c;
}

.h1__hidden {
  align-self: flex-end;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: smaller;
  position: relative;
  bottom: 0;
  max-width: 100vw;
  height: 5em;
}

.icons__social a {
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 861px) {
  .nav__links {
    display: flex;
    flex-direction: column;
  }
  .nav__about,
  .nav__app,
  .nav__blog {
    margin: 2px;
    padding: 2px;
  }
}
